<!DOCTYPE html>
<html lang="fr">
<%- include('head.ejs') %>
<body class="items-center">
  <% if (success_msg.length > 0 || error_msg.length > 0) { %>
    <% if (success_msg.length> 0) { %>
        <div class="absolute w-full h-24 top-0 inset-0 z-50 items-center justify-center flex content-center opacity-100 transition-opacity" id="flash_msg">
            <div class="bg-green-500 text-center text-white flex flex-row p-3 border-5 border-double border-white items-center justify-center m-3 w-72 rounded-lg relative">
                <% success_msg.forEach(function(msg) { %>
                    <p class="text-white font-bold mr-3"><%= msg %></p>
                    <button type="button" onclick="closeFlash();" class="text-xl text-white text-center items-center justify-center text-left absolute right-0 h-full w-16"><i class="fa-solid fa-circle-xmark"></i></button>
                <% }) %>
            </div>
        </div>
    <% } else { %>
        <div class="absolute w-full h-24 top-0 inset-0 z-50 items-center justify-center flex content-center" id="flash_msg">
            <div class="bg-red-500 text-center text-white flex flex-row p-3 border-5 border-double border-white items-center justify-center m-3 w-72 rounded-lg relative">
                <% error_msg.forEach(function(msg) { %>
                    <p class="text-white font-bold mr-3"><%= msg %></p>
                    <button type="button" onclick="closeFlash();" class="text-xl text-white text-center items-center justify-center text-left absolute right-0 h-full w-16"><i class="fa-solid fa-circle-xmark"></i></button>
                <% }) %>
            </div>
        </div>
    <% } %>
<% } %>
  <section class="relative w-full opacity-0 transition-opacity duration-1000" id="hero-header">
    <nav id="navbar" class="animate_nav w-full flex flex-col px-10 py-2 md:h-24 bg-black bg-opacity-90 text-white h-16 
    lg:text-center lg:items-center lg:justify-center lg:w-full lg:h-28 lg:flex lg:flex-row lg:px-10 z-20 fixed top-0 inset-0">

      <button onclick="navbarSet('close');" id="hiddenBox" class="hidden sm:h-12 sm:h-12 md:p-2 md:w-24 md:h-24 sm:justify-center sm:content-center sm:align-center absolute top-4 right-7 z-10">
        <li class="list-none text-4xl">
          <i class="fa-solid fa-xmark"></i>
        </li>
      </button>
      <button onclick="navbarSet('open');" id="show" class="flex lg:hidden sm:h-12 sm:h-12 md:p-2 md:w-24 md:h-24 sm:justify-center sm:content-center sm:align-center absolute top-4 right-7 z-10">
        <li class="list-none text-4xl lg:hidden">
          <i class="fa-solid fa-bars"></i>
        </li>
      </button>

      <ul class="w-42 items-center md:pt-4 pb-3 relative lg:left-0 lg:mx-10 lg:absolute">
        <img class="h-auto w-36 lg:w-44 hidden lg:block object-contain" src="/images/logo&name.webp" alt="Logo de Fertilia">
        <img class="h-auto w-12 sm:block lg:hidden lg:w-44 object-contain" src="/images/logo_only.webp" alt="Logo de Fertilia">
      </ul>
      <ul id="nav_part2" class="relative text-lg text-medium flex-col hidden lg:flex
      lg:text-center lg:items-center lg:flex-row lg:justify-center lg:self-center lg:content-center lg:px-10
      ">
        <a href="#header" class="my-2 p-2">
          <ul class="flex flex-row w-full lg:flex-col lg:pr-4">
            <li class="mr-6"><i class="fa-solid fa-house"></i></li>
            <li class="mr-6">Accueil</li>              
          </ul>
        </a>
        <a href="#avantages" class="my-2 p-2">
          <ul class="lg:pr-4 flex flex-row w-full lg:flex-col">
            <li class="mr-6"><i class="fa-solid fa-chart-simple"></i></li>
            <li class="mr-6">Fonctionnalités</li>
          </ul>
        </a>        
        <a href="#avis" class="my-2 p-2">
          <ul class="pr-4 flex flex-row w-full lg:flex-col">
            <li class="mr-6"><i class="fa-solid fa-circle-info"></i></li>
            <li class="mr-6">A propos</li>
          </ul>
        </a>        
        <a href="#" class="my-2 p-2">
          <ul class="pr-4 flex flex-row w-full lg:flex-col">       
            <li class="mr-6"><i class="fa-solid fa-phone-volume"></i></li>
            <li class="mr-6">Contacts</li>
          </ul>
        </a>

      </ul>   
      <ul id="nav_part3" class="lg:flex flex-row relative lg:absolute lg:right-0 lg:px-10 text-lg text-medium text-center items-center hidden">
        <button class="pr-4 backgroud_btn_h px-3 py-2 rounded-lg hover:bg-yellow-400 focus:outline-none focus:ring-2 focus:ring-bg-yellow-400 focus:ring-opacity-50" onclick="OpenModalSign('signin');">Se connecter <i class="fa-solid fa-arrow-right-to-bracket"></i></button>
      </ul>
    </nav>

    <div class="text-right px-7 py-6 flex flex-row relative mt-28 lg:px-20" id="header">
      <div class="hidden lg:block lg:w-5/12"></div>
      <div class="relative lg:px-6 w-full sm:px-2 lg:w-7/12 flex flex-col lg:items-end">
        <div class="absolute top-2 right-2 w-16 place-items-end lg:w-full lg:mb-5 lg:relative">
          <img class="h-auto w-16 lg:w-24 object-contain" src="/images/logo_only.webp" alt="logo de Fertilia">
        </div>
        <h1 class="font_header mt-8 text-3xl text-center z-10 lg:text-5xl text-white lg:mb-3 ">La technologie au <br> service de<span class="backgroud_text_h bg-opacity-60 text-3xl"><br> votre terre</span></h1>
        
        <div class="bg-black bg-opacity-30 p-2 relative lg:overflow-hidden">
          <p class="text-white text-xl font-light"> <span class="text-lg"><i class="fas fa-quote-left"></i></span> Transformez votre exploitation 
              grâce à <span class="backgroud_text_h font-medium">notre plateforme innovante</span>. Surveillez en 
              temps réel vos cultures et optimisez l'irrigation. Découvrez 
              comment la technologie peut <span class="backgroud_text_h font-medium">redonner vie à votre terre</span> et propulser votre agriculture vers de <span class="backgroud_text_h font-medium">nouveaux sommets.</span> <span class="text-lg"><i class="fas fa-quote-right"></i></span><br>
          </p>
          <button class="w-44 pr-4 backgroud_btn_h mt-2 px-3 py-2 text-lg rounded-lg" onclick="OpenModalSign('signup');">Nous réjoindre <i class="fa-solid fa-arrow-right"></i></button> 
        </div>
      </div>
    </div>
  </section>
  <%- include('loader.ejs') %>
  <section id="modalsShow" class="w-full h-screen z-40 backdrop-blur fixed inset-0 justify-center items-center 
  content-center hidden opacity-0 transition-opacity duration-1000">

    <%- include('signin.ejs') %>
    <%- include('signup.ejs') %> 

  </section>

  <main class="opacity-0 transition-opacity duration-1000" id="main_su">
    <section id="avantages" class="p-2 lg:p-7 w-full lg:p-20">
      <h3 class="text-3xl mt-8 font-bold lg:text-3xl text-center">Avantages</h3>
  
      <div class="w-full flex flex-wrap items-center justify-center my:2 lg:my-10">
        <div class="w-96 lg:w-80 h-auto bg-white m-2 lg:m-5 rounded-lg shadow-xl p-2">
          <div id="" class="w-full h-48">
            <img src="/images/gestion_culture/image1.webp" alt="Femmes cultuvant ensemble" class="object-cover h-48 w-full">
          </div>
          <h4 class="mt-2 font-medium">Gestion Des Cultures</h4>
          <p class="font-light">Optimisez chaque étape de vos plantations avec notre module dédié. Suivez l'évolution de vos 
            cultures en temps réel et recevez des recommandations personnalisées pour adapter vos pratiques 
            agricoles et améliorer vos rendements.
          </p>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg text-lg text-white font-bold w-full">Voir Plus   <i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <div class="w-96 lg:w-80 h-auto bg-white m-5 rounded-lg shadow-xl p-2">
          <div id="" class="w-full h-48">
            <img src="/images/irrigations/irrigation.webp" alt="irrigation automatique" class="object-cover h-48 w-full">
          </div>
          <h4 class="mt-2 font-medium">Irrigation Automatique </h4>
          <p class="font-light">            
            Réalisez une gestion de l'eau intelligente grâce à notre système d'irrigation automatique. 
            Les capteurs mesurent l'humidité du sol et activent l'irrigation au moment optimal, garantissant une 
            utilisation efficace de l'eau et favorisant une croissance optimale des cultures.
          </p>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg text-lg text-white font-bold w-full">Voir Plus   <i class="fa-solid fa-circle-plus"></i></button>
        </div>
        <div class="w-96 lg:w-80 h-auto bg-white m-5 rounded-lg shadow-xl p-2">
          <div id="" class="w-full h-48">
            <img src="/images/image2.webp" alt="Personnes analysant les courbes de croissance" class="object-cover h-48 w-full">
          </div>
          <h4 class="mt-2 font-medium">Analyse des rendements</h4>
          <p class="font-light">
            Transformez vos données en actions concrètes avec notre outil d'analyse des rendements. 
            Visualisez l'évolution de vos récoltes, identifiez les tendances et ajustez vos stratégies pour 
            maximiser vos profits et pérenniser la performance de votre exploitation.
          </p>
          <button class="pr-4 backgroud_btn_h mt-2 px-3 py-2 rounded-lg text-lg text-white font-bold w-full">Voir Plus   <i class="fa-solid fa-circle-plus"></i></button>
        </div>
      </div>
      
    </section>

    <section id="avis" class="w-full p-10 my-2 lg:p-20 text-center items-center justify-center flex flex-col ">
      <h3 class="text-2xl lg:text-3xl text-center font-bold m-5">Avis et Notations</h3>
      <div id="" class="w-full items-center justify-center content-center flex flex-wrap relative lg:w-9/12">
        <!-- template notation -->
        <div class="w-full lg:w-96 lg:m-3 bg-gray-200 h-auto mb-5 relative p-3 text-left lg:p-5 rounded-tl-3xl rounded-br-3xl border-b-2 border-double border-yellow-500">
          <div id="ratings" class="w-full flex relative space-x-1 lg:w-2/4">
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
          </div>
          <div class="list-none absolute top-0 right-0">
            <li class="text-3xl backgroud_text_h"><i class="fas fa-quote-right"></i></li>
          </div>
          <p class="font-light m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus quod obcaecati 
            soluta corrupti exercitationem animi repudiandae unde suscipit eveniet?
          </p>
          <div class="flex flex-row items-center">
            <div class="h-24 w-24 relative rounded-full overflow-hidden m-4">
              <img src="/images/asset1.webp" alt="Image d'une personne" class="object-cover w-full h-24">
            </div>
            <div class="">
              <span class="font-bold text-lg">John Doe</span>
              <p class="">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>

        <!-- template notation -->
        <div class="w-full lg:w-96 lg:m-3 bg-gray-200 h-auto relative p-3 text-left lg:p-5 rounded-tl-3xl rounded-br-3xl border-b-2 border-double border-yellow-500">
          <div id="ratings" class="w-full flex relative space-x-1 lg:w-2/4">
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="1" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="2" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="3" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
            <svg class="star w-10 h-10 cursor-pointer text-gray-300 transition-colors duration-200" data-value="5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M10 15l-5.878 3.09 1.122-6.545L.488 7.91l6.564-.955L10 1l2.948 5.955 6.564.955-4.756 3.635 1.122 6.545z"/>
            </svg>
          </div>
          <div class="list-none absolute top-0 right-0">
            <li class="text-3xl backgroud_text_h"><i class="fas fa-quote-right"></i></li>
          </div>
          <p class="font-light m-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptatibus quod obcaecati 
            soluta corrupti exercitationem animi repudiandae unde suscipit eveniet?
          </p>
          <div class="flex flex-row items-center">
            <div class="h-24 w-24 relative rounded-full overflow-hidden m-4">
              <img src="/images/asset1.webp" alt="Image d'une personne" class="object-cover w-full h-24">
            </div>
            <div class="">
              <span class="font-bold text-lg">John Doe</span>
              <p class="">Lorem ipsum dolor sit amet.</p>
            </div>
          </div>
        </div>

      </div>
    </section>

  </main>


  <footer class="flex flex-row px-10 py-4 h-auto text-center items-center justify-center bg-black bg-opacity-90 text-white relative ">
    <div id="partnaire" class="w-full h-44 text-center justify-center items-center flex flex-row">
      <div class="w-16 h-16 rounded-full overflow-hidden relative m-10"><img class="w-full h-16 object-cover" src="/images/Pinterest-logo.webp" alt="pinterest logo"></div>
      <div class="w-16 h-16 rounded-full overflow-hidden m-10"><img class="w-full h-16 object-cover" src="/images/images.webp" alt="facebook image"></div>
      <div class="w-16 h-16 rounded-full overflow-hidden m-10 border-2 border-solid border-white"><img class="w-full h-16 object-cover" src="/images/images (2).webp" alt="facebook image"></div>
      <div class="w-28 h-28 m-10"><img class="w-full h-28 object-cover" src="/images/g-solutech.png" alt="facebook image"></div>
    </div>
  </footer>
</body>
</html>
