<div id="history_produit" class="w-full overflow-x-scroll my-5">
    <table class="w-full border-2 border-solid border-black border-collapse">
        <thead class="">
            <tr>
                <th class="hidden">N</th>
                <th class="text-center"><i class="fa-solid fa-circle-dot"></i></th>
                <th>Nom du produit</th>
                <th>Catégorie</th>
                <th>Quantité</th>
                <th>Emplacement</th>
                <th>Fournisseur / Marque </th>
            </tr>
        </thead>
        <tbody class="">
            <% if (MonHistoriqueES && MonHistoriqueES.length > 0) { %>
                <% MonHistoriqueES.forEach((history) => { %>
                    <tr>
                        <td class="hidden"><%= history.id_stock %></td>
                        <td class="flex flex-col">
                            <button type="button" id="" class="edit_product_on_stock text-xl"><i class='bx bx-edit-alt'></i></button>
                            <button type="button" id="" class="delete_product_on_stock text-xl text-red-500"><i class='bx bxs-trash'></i></button>
                            <p class="hidden" id="id_product_modify"><%= history.id_stock %></p>
                        </td>
                        <td><%= history.produit %></td>
                        <td><%= history.type_produit %></td>
                        <td><%= history.quantite %> <%= history.unite %></td>
                        <td class="text-green-500 font-bold"><%= history.action%></td>
                        <td><%= history.quantite_totale %></td>
                        <!-- Commit -->
                        <!-- Commit -->
                    </tr>
                <% }) %>
            <% } else { %>
                <tr class="text-center">
                    <td colspan="6" class="text-center text-red-500">Aucun élément pour le moment</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>